.propulsion-page {
	.section_propulsion {
		.section__menu {
			.link_video {
				margin-right:50px;
			}
			.top-menu {
				flex-grow: 1;
				width: 60%;
				.swiper-container {
					text-align: right;

					.swiper-wrapper {
						display: inline-flex;
						width: auto;

						.swiper-slide {
							width: auto;
							padding-bottom: 3px;

							@include media-breakpoint-up(lg) {
								&:last-child {
									margin-right: 0 !important;
								}
							}

							.top-menu__link {
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}
}