.centered-form {
	max-width: 445px;
	margin: 0 auto;

	@include media-breakpoint-up(lg) {
		max-width: 600px;
	}

	.MuiFormControl-root {
		margin-bottom: 50px;
	}

	.btns-row {
		text-align: center;
	}
}

.blue-checkbox {
	&.Mui-checked {
		.MuiIconButton-label {
			svg {
				color: #20b2c5;
			}
		}
	}
}

#faxme {
	display:none!important;
}