.cover {
	background: $color-white;

	&__wrapper {
		position: relative;
		display: block;
		padding: (9/16*100%) 0 0 0;
		overflow: hidden;
		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 100vh;
			max-height: calc(16 / 9 * 100vw);
		}
	}

	&__bg-img {
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-repeat: no-repeat;
		height: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;

		&_main {
			z-index: 1;
		}

		&_md {
			z-index: 2;
			@include media-breakpoint-down(sm) {
				display: none;
			}

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		&_sm {
			z-index: 2;
			display: none;
			@include media-breakpoint-down(sm) {
				display: block;
			}
			@include media-breakpoint-down(xs) {
				display: none;
			}
		}

		&_xs {
			z-index: 2;
			display: none;
			@include media-breakpoint-down(xs) {
				display: block;
			}
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background: rgb(0, 57, 82);
		background: linear-gradient(180deg, rgba(0, 57, 82, 0.65) 0%, rgba(0, 57, 82, 0) 100%);
	}

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		text-align: center;
		padding: 150px 0 0 0;
		@include media-breakpoint-down(md) {
			padding: 100px 0 0 0;
		}
		@include media-breakpoint-down(sm) {
			padding: 150px 0 0 0;
		}
		@include media-breakpoint-down(xs) {
			padding: 71px 0 0 0;
		}
		&_bottom {
			text-align: left;
			padding: 0;
			top: initial;
			bottom: 80px;
			@include media-breakpoint-down(lg) {
				bottom: 70px;
			}
			@include media-breakpoint-down(md) {
				bottom: 60px;
			}
			@include media-breakpoint-down(sm) {
				bottom: 50px;
			}
			@include media-breakpoint-down(xs) {
				bottom: 40px;
			}
			&_md-full {
				@include media-breakpoint-down(md) {
					top: 0;
					bottom: 0;
					.container {
						height: 100%;
					}
				}
			}
		}
	}

	&__title {
		font-size: $font-size-h1;
		color: $color-white;
		margin: 0 0 20px 0;
		@include media-breakpoint-down(xs) {
			font-size: $font-size-h2;
		}
		&_sm {
			font-size: $font-size-h1-sm;
			font-weight: $font-semi-bold;
			@include media-breakpoint-down(xs) {
				font-size: $font-size-h3;
			}
		}
		&_dark {
			color: #000;
		}
	}

	&__subtitle {
		color: $color-white;
		width: 100%;
		max-width: 600px;
		font-size: $font-size-h4;
		letter-spacing: 1px;
		font-weight: $font-light;
		margin: 0 auto 34px auto;
		@include media-breakpoint-down(sm) {
			font-size: $font-size-text;
			max-width: 100%;
		}
		&_roundhand {
			font-family: $font-family-round;
			font-size: $font-size-h1;
			@include media-breakpoint-down(sm) {
				font-size: $font-size-h2;
			}
			@include media-breakpoint-down(xs) {
				font-size: $font-size-h3;
			}
		}
		&_small {
			font-size: $font-size-text;
			line-height: (24 / 18);
			margin: auto;
		}
	}

	&__more {
		background: $color-white;
		overflow-x: hidden;
	}

	&__down {
		display: block;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -10px;
		bottom: 25px;
		animation: cover-go-down 1.7s infinite ease;
		@include media-breakpoint-down(sm) {
			display: none;
		}

		svg {
			fill: $color-white;
			width: 20px;
			height: 20px;
		}
	}

	&_first {
		@include media-breakpoint-down(sm) {
			.cover__content {
				padding: 210px 0 0 0;
			}
		}
	}

	&_center {
		.cover__content {
			padding: 20% 0 0 0;
			@include media-breakpoint-down(sm) {
				padding: 210px 0 0 0;
			}
		}
	}

	&_gravity {
		-webkit-background-size: 100% 416px;
		background-size: 100% 416px;
		background-image: linear-gradient(to bottom, rgba(0, 178, 185, .17), rgba(255, 255, 255, 0) 103%);
		background-repeat: no-repeat;
		.cover__img {
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
		}
		.cover__content {
			padding: 0;
			.container {
				height: 100%;
			}
		}
	}

}

.deck-block {
	padding: 70px 0;
	@include media-breakpoint-down(lg) {
		padding: 60px 0;
	}
	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}
	@include media-breakpoint-down(sm) {
		padding: 40px 0;
	}
	@include media-breakpoint-down(xs) {
		padding: 30px 0;
	}

	.tabs {
		&__tabs {
			.swiper-container {
				text-align: center;

				.swiper-wrapper {
					display: inline-flex;
					width: auto;

					.swiper-slide {
						width: auto;
					}
				}
			}
		}

		&__content {
			padding: (667/1225*100%) 0 0 0;
			position: relative;

			.tabs__content-item {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				transition: all .35s ease-in-out;
			}
		}
	}
}

@keyframes cover-go-down {
	0% {
		transform: translateY(0)
	}
	50% {
		transform: translateY(-7px)
	}
	55% {
		transform: translateY(-7px)
	}
	100% {
		transform: translateY(0)
	}
}

.sub-sections {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.35s ease-out;

	&.opened {
		max-height: 5000px;
		opacity: 1;
	}
}