@font-face {
	font-family: "ProximaNovaA";
	font-style: normal;
	font-weight: 300;
	src: url(../assets/fonts/ProximaNovaA-Light.eot) format("eot"),
	url(../assets/fonts/ProximaNovaA-Light.woff2) format("woff2"),
	url(../assets/fonts/ProximaNovaA-Light.woff) format("woff"),
	url(../assets/fonts/ProximaNovaA-Light.ttf) format("truetype"),
	url(../assets/fonts/ProximaNovaA-Light.svg#ProximaNovaA) format("svg");
}

@font-face {
	font-family: "ProximaNovaA";
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/ProximaNovaA-Regular.eot) format("eot"),
	url(../assets/fonts/ProximaNovaA-Regular.woff2) format("woff2"),
	url(../assets/fonts/ProximaNovaA-Regular.woff) format("woff"),
	url(../assets/fonts/ProximaNovaA-Regular.ttf) format("truetype"),
	url(../assets/fonts/ProximaNovaA-Regular.svg#ProximaNovaA) format("svg");
}

@font-face {
	font-family: "ProximaNovaA";
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts/ProximaNovaA-Bold.eot) format("eot"),
	url(../assets/fonts/ProximaNovaA-Bold.woff2) format("woff2"),
	url(../assets/fonts/ProximaNovaA-Bold.woff) format("woff"),
	url(../assets/fonts/ProximaNovaA-Bold.ttf) format("truetype"),
	url(../assets/fonts/ProximaNovaA-Bold.svg#ProximaNovaA) format("svg");
}

@font-face {
	font-family: "ProximaNovaA";
	font-style: normal;
	font-weight: 600;
	src: url(../assets/fonts/ProximaNovaA-Semibold.eot) format("eot"),
	url(../assets/fonts/ProximaNovaA-Semibold.woff2) format("woff2"),
	url(../assets/fonts/ProximaNovaA-Semibold.woff) format("woff"),
	url(../assets/fonts/ProximaNovaA-Semibold.ttf) format("truetype"),
	url(../assets/fonts/ProximaNovaA-Semibold.svg#ProximaNovaA) format("svg");
}

@font-face {
	font-family: "SnellRoundhand";
	font-style: normal;
	font-weight: 400;
	src: url(../assets/fonts/SnellRoundhand-Regular.eot) format("eot"),
	url(../assets/fonts/SnellRoundhand-Regular.woff2) format("woff2"),
	url(../assets/fonts/SnellRoundhand-Regular.woff) format("woff"),
	url(../assets/fonts/SnellRoundhand-Regular.ttf) format("truetype"),
	url(../assets/fonts/SnellRoundhand-Regular.svg#SnellRoundhand) format("svg");
}

@font-face {
	font-family: "SnellRoundhand";
	font-style: normal;
	font-weight: 700;
	src: url(../assets/fonts/SnellRoundhand-Bold.eot) format("eot"),
	url(../assets/fonts/SnellRoundhand-Bold.woff2) format("woff2"),
	url(../assets/fonts/SnellRoundhand-Bold.woff) format("woff"),
	url(../assets/fonts/SnellRoundhand-Bold.ttf) format("truetype"),
	url(../assets/fonts/SnellRoundhand-Bold.svg#SnellRoundhand) format("svg");
}
