.container {
	width: 100%;
  max-width: $container-width-xl;
  padding: 0 $gutters;
  margin: 0 auto;

	@include media-breakpoint-down(lg) {
		max-width: $container-width-lg;
	}

	@include media-breakpoint-down(md) {
		max-width: $container-width-md;
	}

	@include media-breakpoint-down(sm) {
		max-width: $container-width-sm;
	}

	@include media-breakpoint-down(xs) {
		max-width: $container-width-xs;
	}
}

.col {
	&_6 {
		width: calc((100% - 1 * 24px) / 2);
		flex: 0 0 calc((100% - 1 * 24px) / 2);
		margin: 0 24px 0 0;
		&:nth-child(2n) {
			margin: 0;
		}
	}
}