.menu {
	margin: 0 auto;
}

.top-menu {
	&__item {
		flex-shrink: 0;
		&:not(:last-child) {
			margin: 0 55px 0 0;
			@include media-breakpoint-down(lg) {
				margin: 0 25px 0 0;
			}
		}
	}

	&__link {
		color: $color-white;
		font-size: $font-size;
		font-weight: $font-bold;
		letter-spacing: 1px;
		display: block;
		position: relative;
		transition: all .35s ease-in-out;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			bottom: -1px;
			height: 1px;
			background: $color-white;
			transition: all .35s ease-in-out;
		}

		&:hover,
		&.active {
			&:after {
				left: 0;
				width: 100%;
			}
		}

		&_gray {
			color: fade_out($color-black1, .5);
			&:after {
				background: $color-black1;
			}
			&:hover,
			&.active {
				color: $color-black1;
				&:after {
					left: 0;
					width: 100%;
				}
			}
		}
	}

	&.is-black {
		.top-menu__link {
			color: $color-black;

			&:after {
				background: $color-black;
			}
		}
	}
}
