.scroll-nav {
	position: fixed;
	left: 15px;
	top: 50%;
	z-index: 100;
	transform: translate(0, -50%);

	@include media-breakpoint-down(sm) {
		display: none;
	}

	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 3px 0;
		max-width: 15px;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}

		.vert-line {
			width: 4px;
			height: 40px;
			background: $color-white;
			margin-right: 11px;
			opacity: 0.15;
			transition: all .2s ease-in-out;
			flex-shrink: 0;
		}

		.block-title {
			font-size: 10px;
			font-weight: bold;
			color: $color-white;
			opacity: 0;
			transition: all .2s ease-in-out;
			text-transform: uppercase;
			white-space: nowrap;
			letter-spacing: 0.83px;
		}

		&.active,
		&:hover {
			max-width: none;

			.vert-line {
				opacity: 1;
			}

			.block-title {
				opacity: 1;
			}
		}
	}

	&.color-black {
		a {
			.vert-line {
				background: $color-black;
			}

			.block-title {
				color: $color-black;
			}
		}
	}
}