.yacht-page, .home-page {
	@media only screen and (min-width:1024px){

		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		height: 100vh;

		.cover, .slider {
			scroll-snap-align: start;
			height: 100vh;
			.cover__wrapper {
				max-height:unset;
			}
		}
		.footer, .text-block {
			scroll-snap-align: start;
			.cover__wrapper {
				max-height:unset;
			}
		}
	}
}

.section {
	padding: 70px 0;
	background: $color-white;
	overflow: hidden;

	@include media-breakpoint-down(lg) {
		padding: 60px 0;
	}

	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}

	@include media-breakpoint-down(sm) {
		padding: 40px 0;
	}

	&__header {
		margin: 0 0 40px 0;
		@include media-breakpoint-down(sm) {
			margin: 0 0 20px 0;
		}
	}

	&__menu {
		margin: 20px 0 30px 0;
		width: 100%;
		overflow: hidden;
		min-height: 20px;

		.link {
			margin: 0;
		}
	}

	&_gallery {
		.title-block {
			flex-grow: 1;
			max-width: 389px;
			margin: 0 35px 0 0;
		}

		.title-block__sub-title {
			margin: 10px 0 0 0;
		}

		@include media-breakpoint-down(md) {
			.h1 {
				font-size: $font-size-h2;
			}
			.title-block {
				max-width: 322px;
			}
			.title-block__sub-title {
				font-size: $font-size-text-sm;
			}
		}
		@include media-breakpoint-down(sm) {
			.h1 {
				font-size: $font-size-h3;
			}
			.title-block {
				max-width: initial;
				text-align: center;
				margin: 0 auto;
			}
			.title-block__sub-title {
				margin: 0 0 40px 0;
			}
		}
	}

	&_video {
		@include media-breakpoint-down(sm) {
			padding: 40px 0 0 0;
			.videos {
				position: relative;
				left: 50%;
				transform: translate(-50%, 0);
				width: 100vw;
			}
		}
	}

	&_eco {
		padding: 45px 0 0 0;
		@include media-breakpoint-down(sm) {
			text-align: left;
			.h2 {
				font-size: $font-size-h3;
			}
		}

		.section__header {
			margin: 0 0 60px 0;
		}
	}

	&_timeline {
		@include media-breakpoint-down(md) {
			padding: 50px 0 0 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 40px 0 0 0;
		}

		.title-block {
			margin: 0 0 0 70px;
			@include media-breakpoint-down(lg) {
				margin: 0 0 0 35px;
			}
			@include media-breakpoint-down(md) {
				margin: 0;
			}
		}

		.title-block__sub-title {
			margin: 5px 0 0 0;
			font-size: $font-size-btn-big;
			@include media-breakpoint-down(xs) {
				font-size: $font-size-text;
				line-height: (24 / 18);
			}
		}

		.h1 {
			@include media-breakpoint-down(md) {
				font-size: $font-size-h2;
			}
			@include media-breakpoint-down(xs) {
				font-size: $font-size-h3;
			}
		}
	}

	&_our-identity {
		background: rgb(131, 220, 221);
		background: linear-gradient(0deg, rgba(99, 180, 184, 1) 30%, rgba(0, 50, 72, 1) 100%);
		color: $color-white;

		.title-block {
			margin: 0 0 0 70px;
			@include media-breakpoint-down(lg) {
				margin: 0 0 0 35px;
			}
			@include media-breakpoint-down(md) {
				margin: 0;
				.h1 {
					font-size: $font-size-h2;
				}
			}
			@include media-breakpoint-down(xs) {
				.h1 {
					font-size: $font-size-h3;
				}
			}
		}

		.title-block__sub-title {
			margin: 5px 0 0 0;
			font-size: $font-size-btn-big;
			@include media-breakpoint-down(xs) {
				font-size: $font-size-text;
				line-height: (24 / 18);
			}
		}
	}

	&_propulsion {
		background: $color-white;
		padding: 0;

		.propulsion__title {
			margin: 0;

			.title-block_center {
				.title-block__sub-title {
					margin: 10px auto 0;
				}
			}
		}

		.h3_quote {
			font-size: $font-size-h2;
			@include media-breakpoint-down(sm) {
				font-size: $font-size-h3;
			}

			&:before {
				left: -80px;
				@include media-breakpoint-down(md) {
					left: -60px;
				}
				@include media-breakpoint-down(sm) {
					left: -25px;
				}
			}

			&:after {
				right: -80px;
				@include media-breakpoint-down(md) {
					right: -60px;
				}
				@include media-breakpoint-down(sm) {
					right: -25px;
				}
			}
		}

		.top-menu {
			@include media-breakpoint-down(md) {
				margin: 20px 0 0 0;
			}
		}
	}

	&_solar {
		background: $color-white;
		padding: 0;

		.solar__title {
			.title-block_left {
				padding: 0;
			}
		}

		.top-menu {
			@include media-breakpoint-down(md) {
				margin: 20px 0 0 0;
			}
		}
	}

	&_map {
		padding: 0;
		position: relative;
	}

	&_articles-list {
		padding: 40px 0;
		background: fade_out($color-black1, .95);
		@include media-breakpoint-down(md) {
			background: $color-white;
		}
	}

	&_article {
		padding: 170px 0 60px;
		background: $color-white;
		position: relative;
		@include media-breakpoint-down(md) {
			padding: 150px 0 50px;
		}
		@include media-breakpoint-down(sm) {
			padding: 110px 0 50px;
		}
	}

	&_more-articles {
		.h4 {
			@include media-breakpoint-down(sm) {
				display: inline-block;
				margin: 0 0 25px 0;
			}
		}

	}

	&_bg {
		&_gradient {
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			padding: (427 / 1440 * 100%) 0 0 0;
			background: linear-gradient(to bottom, fade_out($color-teal-blue, .75), $color-white 103%) no-repeat;
			z-index: 0;
			@include media-breakpoint-down(md) {
				padding: (427 / 834 * 100%) 0 0 0;
			}
			@include media-breakpoint-down(sm) {
				padding: (427 / 375 * 100%) 0 0 0;
			}
		}
	}

	&_p0 {
		padding: 0;
		@include media-breakpoint-down(lg) {
			padding: 0;
		}

		@include media-breakpoint-down(md) {
			padding: 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}

}
