// headings
h1, .h1 {
	font-weight: $font-bold;
	font-size: $font-size-h1;
	padding: 0;
	margin: 0;
}

h2, .h2 {
	font-weight: $font-bold;
	font-size: $font-size-h2;
	padding: 0;
	margin: 0;
}

h3, .h3 {
	font-weight: $font-bold;
	font-size: $font-size-h3;
	padding: 0;
	margin: 0;
	&_quote {
		text-align: center;
		position: relative;
		margin: 0 auto;
		&:before {
			content: '';
			position: absolute;
			width: 51px;
			height: 40px;
			left: -15px;
			top: -20px;
			background: url(../assets/img/quote-start.svg) 100% 100% / cover no-repeat;
			@include media-breakpoint-down(sm) {
				top: -40px;
				left: -50px;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 51px;
			height: 40px;
			right: -25px;
			bottom: 0;
			background: url(../assets/img/quote-finish.svg) 100% 100% / cover no-repeat;
			@include media-breakpoint-down(sm) {
				right: -30px;
				bottom: -30px;
			}
		}

		@include media-breakpoint-down(sm) {
			text-align: left;
		}

	}
}

h4, .h4 {
	font-weight: $font-bold;
	font-size: $font-size-h4;
	padding: 0;
	margin: 0 0 10px 0;
}

// Text
p {
	margin: 0 0 1rem 0;
	@include media-breakpoint-down(xs) {
		font-size: $font-size-text-sm;
	}
}

.text {
	font-weight: $font-regular;
	font-size: $font-size-text;
	line-height: 24px;
	padding: 0;
	margin: 0;

	&_color {
		&_white {
			color: $color-white;
		}
		&_black1 {
			color: $color-black1;
		}
	}

	&_center {
		text-align: center;
	}
}

// List
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Link
a {
	text-decoration: none;
	color: $color-black1;
}

.link {
	display: inline-block;
	font-size: $font-size-text;
	line-height: 24px;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&_small {
		text-decoration: none;
		font-size: $font-size;
		font-weight: $font-bold;
		&:hover {
			text-decoration: underline;
		}
	}

	&_video {
		text-decoration: none;
		padding: 0 0 0 50px;
		position: relative;
		line-height: 32px;
		font-size: $font-size-text;
		@include media-breakpoint-down(sm) {
			font-size: $font-size-text-sm;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 32px;
			height: 32px;
			transform: translate(0, -50%);
			background: url(../assets/img/play.svg) center center / cover no-repeat;
		}
		&:after {
			content: '';
			position: absolute;
			left: 50px;
			width: 0;
			bottom: 5px;
			height: 1px;
			background: $color-black1;
			opacity: 0;
			transition: all .35s ease-in-out;
		}
		&:hover {
			&:after {
				width: calc(100% - 50px);
				opacity: 1;
			}
		}
	}

	&_muted {
		color: $color-black1;
		opacity: .25;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			width: 0;
			bottom: -1px;
			height: 1px;
			background: $color-black1;
			transition: all .35s ease-in-out;
		}

		&:hover {
			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

.link-list {
	&__item {
		display: inline-block;
		position: relative;
		padding: 0 20px;
		@include media-breakpoint-down(md) {
			margin: 40px auto 10px;
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 1px;
			height: 80%;
			background: $color-black1;
			transform: translate(0, -50%);
		}

		&:first-child {
			padding: 0 20px 0 0;
		}

		&:last-child {
			padding: 0 0 0 20px;

			&:after {
				display: none;
			}
		}
	}

	&__link {
		font-size: $font-size-text;
		line-height: 24px;
		position: relative;

		&:hover {
			text-decoration: underline;
		}


	}
}

.no-last-margin {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}